@model TwitterSample.Models.TweetStreamViewModel

@{
    ViewBag.Title = "Twitter Stream";
}

<span id="hello">
    
</span>
<div class="row">
    <div class="span4">
        <h2>@@pay_by_phone</h2>
        <p>
            
        </p>
    </div>
    <div class="span4">
        <h2>@@PayByPhone</h2>
        <p></p>
       
    </div>
    <div class="span4">
        <h2>@@PayByPhone_UK</h2>
        <p></p>
       
    </div>
</div>

@section scripts
{
    @Scripts.Render("~/bundles/twitterstream")
}
