@model TwitterSample.Models.TweetStreamViewModel

@{
    ViewBag.Title = "Twitter Stream";
}

<span class="label label-danger"><h1>Loading..</h1></span>
    

<div class="row">
    
</div>

@section scripts
{
    @Scripts.Render("~/bundles/twitterstream")
}
