@model TwitterSample.Models.TwitterStreamViewModel

@{
    ViewBag.Title = "Twitter Stream";
}

<div class="row">
    <div class="span4">
        <h2>@@pay_by_phone</h2>
        <p>
            
        </p>
    </div>
    <div class="span4">
        <h2>@@PayByPhone</h2>
        <p></p>
       
    </div>
    <div class="span4">
        <h2>@@PayByPhone_UK</h2>
        <p></p>
       
    </div>
</div>